body {
	margin: auto;
}

.header-div {
	position: relative;
	background-color: rgb(214, 227, 245);
}

.container-header {
	position: fixed;
	left: 72%;
}

.welcome {
	position: relative;
	margin-left: 40%;
}

.doing-make-h3 {
	position: relative;
	margin-left: 30%;
}

.img-center-user {
	position: relative;
	margin: 30px;
}

.login-page-center {
	position: relative !important;
	margin-left: 35% !important;
}

.login-page-img-center {
	position: relative;
	margin-left: 40% !important;
}