<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Home Page</title>
		<link rel="stylesheet" type="text/css" href="site.css" media="screen">
	</head>
	<body>
		<div th:each="filesImages : ${filesItImages}">
			<a th:href="'uploaded/'+*{filesImages.name}"> 
				<img class="rounded-image-indexpage" width="200" height="200" th:src="'uploaded/'+*{filesImages.name}">
			</a>
		</div>
		<div th:each="filesVideos : ${filesItVideos}">
			<a th:href="'uploaded/Tweark/'+*{filesVideos.name}"> 
				<video class="rounded-image-indexpage" width="200" height="200" controls loop>
					<source th:src="'uploaded/Tweark/'+*{filesVideos.name}" type="video/mp4">
				</video>
			</a>
		</div>
	</body>
</html>