<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	
	<link rel="stylesheet" type="text/css" href="site.css" media="screen">
	
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<header class="header-div">
		<a><img src="uploaded/bg-gradient.jpg" width="40" height="40"></a>
		<a href="/">Home</a>
		<a class="signin_align" href="signin">SignIn</a>
	</header>
	
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>