<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<title>Night Videos - Home Page</title>
	
	<link rel="stylesheet" type="text/css" href="site.css" media="screen">
</head>
<body>
	<div th:each="img : ${images}">
		<img class="rounded-image-indexpage" width="200" height="200" th:src="${img}">
	</div>
	<div th:each="vid : ${videos}">
		<video class="rounded-image-indexpage" width="200" height="200" loop controls>
			<source th:src="${vid}" type="video/mp4">
		</video>
		
		<video class="rounded-image-indexpage" width="200" height="200" loop controls>
			<source th:src="${vid}" type="video/mp4">
		</video>
	</div>
</body>
</html>